{% extends "base.html" %}
{% block tab_title %}Home Page{% endblock %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}
{% block content %}
    <div class="container">
        <section class="hero">
            <div class="hero-content">
                <h1>Get the Most Out of Your Energy</h1>
                <p>Manage your mental and physical energy to maximize productivity and well-being.</p>
                {% if current_user.is_authenticated %}
                    <a href="{{url_for('auth.logout')}}" class="btn">Logout</a>
                {% else %}
                    <a href="{{url_for('auth.index')}}" class="btn">Sign Up</a>
                {% endif %}
            </div>
        </section>
        <section class="features">
            <a href="{{url_for('main.mental_energy')}}">
            <div class="feature">
                <img src="{{url_for('static', filename='images/mental-energy-icon.avif')}}"
                alt="Conservation of Mental Energy">
                <h2>Conservation of Mental Energy</h2>
                <p>Discover activities that waste mental energy and receive tips to increase efficiency.</p>
            </div>
            </a>
            <div class="feature">
            <a href="{{url_for('main.physical_energy')}}">
                <img src="{{url_for('static', filename='images/physical-energy-icon.avif')}}"
                alt="Conservation of Physical Energy">
                <h2>Conservation of Physical Energy</h2>
                <p>Track and monitor your daily activities, get recommendations, and improve your physical energy.</p>
            </a>
            </div>
            <div class="feature">
            <a href="#time-management">
                <img src="{{url_for('static', filename='images/time-management-icon.avif')}}" alt="Conservation of Time">
                <h2>Conservation of Time</h2>
                <p>Organize and plan your activities, achieve growth in every aspect of your life, and create free time for self-improvement.</p>
            </a>
            </div>
        </section>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}